{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}


<style>

    .form-inline{
        margin: 0px;
    }

	.painel-2 i{
		font-size: 20px;
		display: inline-block;
        padding: 8px;
        padding-right: 15px;
	}

    #config {
        background-color:rgb(248, 248, 248);
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 0;
    }

    #config:hover {
        color: #72ec82;
    }

    .msg{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        padding: 0;
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }

    .msg i{
            padding: 15px;
            font-size: 40px;
            color: #08f142;
    }

	@media screen and (max-width: 550px) {

		.container{
		    grid-template-columns: auto;
		    margin: 50px 0;
		}
		
		.painel-2{
			display: none !important;
		}
		
	}

	

</style>

    <div class="alert">
        <i class="fas fa-key"></i>
        Sua senha foi alterada com sucesso!
    </div>

    <div class="container">
	    
		<div class="painel-2">

			{% include 'menu_session_gamer.html' %}

    	</div><!-- fim painel-2 -->

    	<div class="painel-1">
            <div class="msg"> 
                <i class="far fa-check-circle"></i>   
                <p>Sua senha foi alterada com sucesso!</p>
            </div>
    	</div><!-- fim painel-1 -->

    	
	</div><!-- fim container -->
	

{% endblock %}
