
{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<style>

        .msg_erros{
            display: inline-block;
            font-size: 12px;
            padding: 0;
            text-align: left;
            
        }

        .link-item{
            padding-top: 30px;
        }

</style>

<div class="box-form">

    {% if messages %}
        <div class="msg_erros">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

        <form class="px-4 py-3" method="post">
            {% csrf_token %}
                
           
            <div>{{ form.email }}<div>
    

            <button type="submit" class="btn btn-success">Recuperar Senha</button>
                
            <a class="link-item" href="/"><i class="fas fa-sign-in-alt"></i> Ir para Login</a>
                
        </form>
   
</div>

{% endblock %}