{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}

    <style>

        .alert {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            margin: 0 auto;
            width: 100%;
            text-align: left;
            background-color: #d2ffdd; 
        }

        .alert i{
            font-size: 15px;
            padding: 15px;
            padding-right: 5px;
        }

        .msg{
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 0;
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }

        .msg i{
            padding: 15px;
            font-size: 40px;
            color: #08f142;
        }


    </style>

    <div class="alert">
        <i class="fas fa-envelope"></i>
        Redefinição de senha enviada para seu e-mail.
    </div>

    <div class="container">
        <div class="msg"> 
            <i class="far fa-check-circle"></i>   
            <p>Enviamos por e-mail as instruções para redefinição de sua senha.
            Caso não tenha recebido verifique se digitou corretamente o e-mail ou verifique na sua pasta de spam.</p>
        </div>
            
    </div>

{% endblock %}