
{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<style>

    .msg i{
        color: #1dca34;
    }

</style>

<div class="box-form">

    <div class="msg"> 
        <i class="far fa-check-circle"></i>   
        <p>Enviamos por e-mail as instruções para redefinição de sua senha.
        Caso não tenha recebido verifique se digitou corretamente o e-mail ou verifique na sua pasta de spam.</p>
    </div>
    <a class="link-item" href="/"><i class="fas fa-sign-in-alt"></i> Acessar Login</a>
</div>

{% endblock %}