
{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<style>

    .msg i{
            color: #1dca34;
    }

    .link-item{
            padding-top: 30px;
    }

</style>

<div class="box-form">

        {% if form.errors %}
            <div class="msg_erros">
                {% if form.new_password2.errors %}
                    {{ form.new_password2.errors }}
                {% endif %}
            </div>
        {% endif %}

        {% if validlink %}
            <form method="post">
            {% csrf_token %}
                {{ form.new_password1 }}
                {{ form.new_password2 }}
                
                <button type="submit" class="btn btn-success">Alterar Senha</button>
            </form>
        {% else %}
            <div class="msg">
                <i class="fas fa-exclamation-circle"></i>
                <p>
                O link de redefinição de senha está inválido, possivelmente porque já foi usado.
                Solicite uma nova redefinição de senha.
                </p>
            </div> 
            <a class="link-item" href="/password_reset/"><i class="fas fa-sign-in-alt"></i> Solicitar Redefinição de Senha</a>
        {% endif %} 
   
</div>

{% endblock %}