{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}

    <style>

        .alert {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            margin: 0 auto;
            width: 100%;
            text-align: left;
            background-color: #d2ffdd; 
        }

        .alert i{
            font-size: 15px;
            padding: 15px;
            padding-right: 5px;
        }

        .msg{
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 0;
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }

        .msg i{
            padding: 15px;
            font-size: 40px;
            color: #08f142;
        }

        .msg a{
            text-decoration: none;
            color: #071696;
            padding: 3px;
            border: 1px solid #071696;
        }

        .msg #link{
            padding: 20px;
        }

        .msg a:hover{
            text-decoration: none;
            color: #1d98c9;
            border: 1px solid #1d98c9;
        }

    </style>

    <div class="alert">
        <i class="fas fa-key"></i>
        Redefinição de senha realizada com sucesso!
    </div>

    <div class="container">
        <div class="msg"> 
            <i class="far fa-check-circle"></i>   
            <p>Sua senha foi redefinida. Você pode prosseguir e se autenticar agora.</p>

            <p id="link"><a href="/">Acessar</a></p>
        </div>
            
    </div>

{% endblock %}