{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}

    <style>

        .alert {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            margin: 0 auto;
            width: 100%;
            text-align: left;
            background-color: #d2ffdd; 
        }

        .alert i{
            font-size: 15px;
            padding: 15px;
            padding-right: 5px;
        }

        .alertError {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            margin: 0 auto;
            width: 100%;
            text-align: left;
            background-color: #fc5246; 
        }

        .alertError i{
            font-size: 15px;
            padding: 15px;
            padding-right: 5px;
        }

        .corrigeDisplay{
            display: inline-block;
                
        }

        .corrigeDisplay ul{
            list-style-type: none;
        }

        .msg{
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 0;
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }

        .msg i{
            padding: 15px;
            font-size: 40px;
            color: #e23a11;
        }

        .msg a{
            text-decoration: none;
            color: #071696;
            padding: 3px;
            border: 1px solid #071696;
        }

        .msg #link{
            padding: 20px;
        }

        .msg a:hover{
            text-decoration: none;
            color: #1d98c9;
            border: 1px solid #1d98c9;
        }


    </style>

    {% if form.errors %}
        <div class="alertError">
            {% if form.new_password2.errors %}
            <i class="fas fa-exclamation-circle"></i>
                <div class="corrigeDisplay"> 
                    {{ form.new_password2.errors }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="alert">
        <i class="fas fa-key"></i>
        Informe novas senhas para alteração.
    </div>

    <div class="container">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1 }}
                {{ form.new_password2 }}
                <div>
                    <input type="submit" name="acao" value="Alterar Senha">
                </div>
            </form>
        {% else %}
            <div class="msg">
                <i class="fas fa-exclamation-circle"></i>
                <p>
                O link de redefinição de senha está inválido, possivelmente porque já foi usado.
                Solicite uma nova redefinição de senha.
                </p>
                <p id="link"><a href="/password_reset/">Solicitar Redefinição de Senha</a></p>
            </div> 
        {% endif %} 
    </div>

{% endblock %}