{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}


<style>

	.painel-2 i{
        font-size: 15px;
        padding: 10px;    
    }

    #config {
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
    }

    #config:hover {
        color: #368d42;
        background-color: #eee;
    }

    .alertError {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        margin: 0 auto;
        padding: 8px;
        padding-bottom: 0;
        width: 100%;
        text-align: left;
        background-color: #fc5246; 
        border-radius: 5px;
    }

    .alertError i{
        font-size: 15px;
        padding: 10px;
        padding-right: 5px;
    }

    .corrigeDisplay{
        display: inline-block;
            
    }

    .corrigeDisplay ul{
        list-style-type: none;
    }

    form{
        width: 100%;
        max-width: 600px;
        margin: 0 auto; 
        text-align: center;
    }

    form input[type=text], input[type=password], input[type=email]{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        display: inline-block;
        margin-top:30px;
        width: 50%;
        padding: 10px 13px;
        border: 0;
        border-bottom:1px solid #073f2c;
        color: #073f2c;
        background-color: rgb(248, 248, 248);
    }

    form input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
        outline: 0;
    }

    form input[type=submit]:focus{
    outline: 0;
    box-shadow: 0 0 1pt 1pt #073f2c;
    }

    .input{
        display: inline-block;
        text-align: left;
        margin-top:20px;
        color: #073f2c;
    }

    .input span{
        margin-left: 13px;
        font-size: 16px;
        color: rgb(130,130,130);
    }

    form input[type=submit]{
        margin: 30px 0;
        border:0;
        width: 140px;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        border: 2px solid #fff;
        color: #fff;
        background-color: #073f2c;
        border-radius: 10px;
    }

    form input[type=submit]:hover{
        background-color: #3a7a65;
    }

    ::-webkit-input-placeholder {
        color: #073f2c;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #073f2c;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: #073f2c;  
    }

    :-ms-input-placeholder {  
        color: #073f2c;  
    }

    .container i{
        font-size: 20px;
    }

    #icon-topo{
        text-align: center;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        border: 2px solid #ddd;
        width: 20%;
        padding: 15px;
    }

    #icon-topo:hover{
        background: #eee;
    }

    .div-topo{
        display: none;
        margin: 30px auto;
        padding: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .nav-mobile {
        width: 100%;
        display: none;
    }

    .nav-pc {
        width: 100%;
        display: inline-block;
    }

    @media screen and (max-width: 1024px) {

        .container{
            grid-template-columns: 30% auto;
            margin: 50px 0;
        }
        
    }

	@media screen and (max-width: 800px) {

		.container{
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        form input[type=password] {
            width: 70%;
        }

        .alertError {
            font-size: 13px;
        }

        .div-topo{
            display: inline-block;
        }

        .nav-mobile {
            display: inline-block;
        }

        .nav-pc {
            display: none;
        }
		
	}

</style>

    <div class="alert">
        <i class="fas fa-edit"></i>
        Insira a nova senha
    </div>

    <div class="container">
	    
		<div class="painel-2">

            {% include 'menu_session_gamer.html' %}

    	</div><!-- fim painel-2 -->

    	<div class="painel-1" id="cascata-mobile">

            {% if form.errors %}
                <div class="alertError">
                    {% if form.old_password.errors %}
                    <i class="fas fa-exclamation-circle"></i>
                        <div class="corrigeDisplay"> 
                            {{ form.old_password.errors }}
                        </div>
                    {% endif %}
                    {% if form.new_password2.errors %}
                    </br>
                    <i class="fas fa-exclamation-circle"></i>
                        <div class="corrigeDisplay">
                            {{ form.new_password2.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            
            <form method="post">
            
                {% csrf_token %}
                <div>{{ form.old_password }}</div>
                <div>{{ form.new_password1 }}</div>
                <div>{{ form.new_password2 }}</div>
                <input type="Submit" name="Update Password" value="Alterar Senha">
                
            </form>
    	</div><!-- fim painel-1 -->

        <div class="div-topo">
            <a href="#topo" id="icon-topo" ><i class="fas fa-chevron-up"></i></a>
        </div>
    	
	</div><!-- fim container -->
	

{% endblock %}
