{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}

    <style>

    .container{
		display: grid;
		grid-template-columns: 100%;
	}

    .painel-1{
        padding-right: 35px;
        text-align: center;
    }

    .painel-1 a{
        font-size: 20px;
        background-color:#cde0f8;
        display: inline-block;
        text-decoration: none;
        color: #073f2c;
        border: 1px solid #aaa;
        padding: 20px;
        margin: 10px;
        width: 30%;
        text-align: center;
    }

    .painel-1 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    #icon_cursos{
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 50px;
        display: block;
        text-align: center;
    }

	@media screen and (max-width: 1000px) {

        .painel-1{
            font-size: 50px;
        }
		
        .painel-1 a{
            width: 100%;
        }

	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área Cursos
    </div>

    <div class="container">
	    
    	<div class="painel-1">
            {% for curso in cursos %}
                {% for item in lista_progresso_curso %}
                    {% if curso.id == item.curso %}
                        <a href="{% url 'cursos:video_por_cursos' curso.id %}">
                            <i id="icon_cursos" class="{{ curso.description }}"></i>
                            <b>{{ curso.title }}</b></br></br>
                            <i>{{ item.progresso }}%</i></br>
                            <progress id="file" value="{% widthratio item.progresso 1 1 %}" max="100"></progress>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
    	</div><!-- fim painel-1 -->
		
    </div>

{% endblock %}
