{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}

    <style>

    .painel-1 p{
        padding-bottom: 10px;
    }

    .painel-2 a {
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
    }

    .painel-2 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    #description{
        text-align: justify;
    }

    .alert a:hover{
        text-decoration: none;
        color: rgb(109, 197, 231);
    }

	@media screen and (max-width: 1000px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        <a href="{% url 'cursos:index' %}">Área Cursos</a>
    </div>

    <div class="container">
    	    
        <div class="painel-2">
            {% for curso in cursos %}
                <a href="{% url 'cursos:video_por_cursos' curso.id %}"> {{ curso.title }}</a>
            {% endfor %}
        </div><!-- fim painel-2 -->

    	<div class="painel-1">
            
            {{ videos }}
            
    	</div><!-- fim painel-1 -->		
        
    </div><!-- fim container -->

{% endblock %}
