{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Vídeos{% endblock %}

{% block content %}

    <style>

    #menu_videos, #menu_videos_assistidos{
        background-color: #ddd;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
    }

    #menu_videos:hover{
        color: #368d42;
        background-color: #eee;
    }

    #menu_videos_assistidos:hover{
        color: rgb(1, 51, 1);
        background-color: #c3ecc9;
    }

    #menu_videos_assistidos{
        background-color:#a9eeb2;
    }

    .painel-1{
        text-align: center;
        display: grid;
        grid-template-columns: auto 70%;
    }

    .painel-1 a{
        font-size: 14px;
        background-color:#cde0f8;
        display: inline-block;
        text-decoration: none;
        color: #073f2c;
        border: 1px solid #aaa;
        padding: 20px;
    }

    .painel-1 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    #icon_video{
        font-size: 15px;
        margin: 5px 0px;
    }

    #title_curso{
        color: #000;
        border-bottom: 1px solid #aaa;
        padding: 10px;
        padding-bottom: 20px;
    }

    #detalhes{
        font-size: 15px;
        padding: 10px;
        text-align: left;
        list-style-type: none;
    }

    #detalhes i{
        margin: 10px;
    }

    .logo_curso i{
        text-align: center;
        font-size: 200px;
        color: rgb(219, 94, 36);
    }

	@media screen and (max-width: 1000px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        .painel-1{
            font-size: 50px;
            grid-template-columns: auto;
        }
		
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        {% for curso in cursos %}
            Área Cursos > {{ curso.title }}
        {% endfor %}
    </div>

    <div class="container">
	    
    	<div class="painel-2">
            {% for curso in cursos %}
            <p id="title_curso">Curso: {{ curso.title }}</p>
                {% for video in videos %}
                    {% if video.title in videos_assistidos %}
                        <a id="menu_videos_assistidos" href="{% url 'videos:details' curso.id video.slug %}"><i id="icon_video" class="far fa-play-circle"></i> {{ video.title }} <i class="fas fa-check-double"></i></a>
                    {% else %}
                        <a id="menu_videos" href="{% url 'videos:details' curso.id video.slug %}"><i id="icon_video" class="far fa-play-circle"></i> {{ video.title }}</a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div><!-- fim painel-2 -->

    	<div class="painel-1" >
            {% for curso in cursos %}
                <div class="logo_curso">
                    <i class="{{ curso.description }}"></i>
                </div>
                <ul id="detalhes">
                    <li><i class="fas fa-video"></i> Curso: <b>{{ curso.title }}</b></li>
                    <li><i class="fas fa-th-list"></i> Qtd. Vídeos: <b>{{ qtd_videos }}</b></li>
                    {% if minutos < 10 and segundos < 10 %}
                        <li><i class="fas fa-clock"></i> Duração: <b>0{{ horas }}:0{{ minutos }}:0{{ segundos }}</b></li>
                    {% elif minutos < 10 %}
                        <li><i class="fas fa-clock"></i> Duração: <b>0{{ horas }}:0{{ minutos }}:{{ segundos }}</b></li>
                    {% elif segundos < 10 %}
                        <li><i class="fas fa-clock"></i> Duração: <b>0{{ horas }}:{{ minutos }}:0{{ segundos }}</b></li>
                    {% else %}
                        <li><i class="fas fa-clock"></i> Duração: <b>0{{ horas }}:{{ minutos }}:{{ segundos }}</b></li>
                    {% endif %}
                    <li><i class="fas fa-history"></i> Atualizado em: <b>{{ curso.created_at }}</b></li>
                </ul>
            {% endfor %}
    	</div><!-- fim painel-1 -->
		
    </div>

{% endblock %}
