{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Vídeos{% endblock %}

{% block content %}

    <style>
    
    .alert {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        background-color: #d2ffdd; 
    }

    .alert i{
        font-size: 15px;
        padding: 0px;
        padding-right: 5px;
        color: #0e30a1;
    }

    .painel-2 a{
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
    }

    .painel-2 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    .painel-1{
        text-align: center;
    }

    .painel-1 a{
        font-size: 14px;
        background-color:#cde0f8;
        display: inline-block;
        text-decoration: none;
        color: #073f2c;
        border: 1px solid #aaa;
        padding: 20px;
    }

    .painel-1 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    #icon_video{
        font-size: 50px;
        display: block;
        margin: 10px;
    }

    #icon_cursos{
        padding: 10px;
    }

	@media screen and (max-width: 550px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        .painel-1{
            font-size: 50px;
        }
		
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área Vídeos
    </div>

    <div class="container">
	    
    	<div class="painel-2">
            {% for curso in cursos %}
                <a href="{% url 'cursos:video_por_cursos' curso.id %}"><i id="icon_cursos" class="fas fa-folder"></i> {{ curso.title }}</a>
            {% endfor %}
        </div><!-- fim painel-2 -->

    	<div class="painel-1" >
            {% for video in videos %}
                <a href="{% url 'videos:details' video.slug %}"><i id="icon_video" class="far fa-play-circle"></i> {{ video.title }}</a>
            {% endfor %}
    	</div><!-- fim painel-1 -->
		
    </div>

{% endblock %}
