{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}


<style>

	.painel-2 i{
        font-size: 15px;
        padding: 10px;    
    }

    #config {
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
    }

    #config:hover {
        color: #368d42;
        background-color: #eee;
    }

    .alertError {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        background-color: #fc5246;
        border-radius: 5px;
    }

    .alertError i{
        font-size: 15px;
        padding: 10px;
        padding-right: 5px;
    }

    form{
        width: 100%;
        max-width: 600px;
        margin: 0 auto; 
        padding: 15px;
        text-align: center;
    }

    form input[type=text], input[type=password]{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        display: inline-block;
        margin-top:30px;
        width: 50%;
        padding: 10px 13px;
        border: 0;
        border-bottom:1px solid #073f2c;
        color: #073f2c;
        background-color: rgb(248, 248, 248);
    }
    
    form input[type=email]{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        display: inline-block;
        margin-top:30px;
        width: 50%;
        padding: 10px 13px;
        border: 0;
        border-bottom:1px solid #073f2c;
        color: #073f2c;
        background-color: rgb(248, 248, 248);
        border-radius: 0;
    }

    form i{
        color: #073f2c;
        margin: 10px;
    }

    form input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
        outline: 0;
    }

    form input[type=submit]:focus{
        outline: 0;
        box-shadow: 0 0 1pt 1pt #073f2c;
    }

    .input{
        display: inline-block;
        text-align: left;
        margin-top:20px;
        color: #073f2c;
    }

    .input span{
        margin-left: 13px;
        font-size: 16px;
        color: rgb(130,130,130);
    }

    form input[type=submit]{
        margin: 30px 0;
        border:0;
        width: 140px;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        border: 2px solid #fff;
        color: #fff;
        background-color: #073f2c;
        border-radius: 10px;
    }

    form input[type=submit]:hover{
        background-color: #3a7a65;
    }

    ::-webkit-input-placeholder {
        color: #073f2c;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #073f2c;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: #073f2c;  
    }

    :-ms-input-placeholder {  
        color: #073f2c;  
    }

    .container i{
        font-size: 20px;
    }

    #icon-topo{
        text-align: center;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        border: 2px solid #ddd;
        width: 20%;
        padding: 15px;
    }

    #icon-topo:hover{
        background: #eee;
    }

    .div-topo{
        display: none;
        margin: 30px auto;
        padding: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .nav-mobile {
        width: 100%;
        display: none;
    }

    .nav-pc {
        width: 100%;
        display: inline-block;
    }

    @media screen and (max-width: 1024px) {

        .container{
            grid-template-columns: 30% auto;
            margin: 50px 0;
        }
        
    }

	@media screen and (max-width: 800px) {

		.container{
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        form input[type=password]{
            width: 80%;
        }

        form input[type=email]{
            width: 80%;
        }
        
        .div-topo{
            display: inline-block;
        }

        .nav-mobile {
            display: inline-block;
        }

        .nav-pc {
            display: none;
        }
		
	}

</style>

    <div class="alert">
        <i class="fas fa-edit"></i>
        Insira o novo e-mail e confirme com sua senha.
    </div>
    

    <div class="container">
	    
		<div class="painel-2">

            <div class="nav-mobile" id="topo">
                <a href="/session_gamer/#cascata-mobile" id="config"><i class="fas fa-book"></i> Área Estudos</a>
                <a href="/config/#cascata-mobile" id="config"><i class="fas fa-database"></i> Dados Perfil</a>	
                <a href="/password_change/#cascata-mobile" id="config"><i class="fas fa-key"></i> Alterar Senha</a>
                <a href="/email_change/#cascata-mobile" id="config"><i class="fas fa-envelope"></i> Alterar E-mail
                </a>
                <a href="/alterar_tema/" id="config"><i class="fas fa-paint-brush"></i> Alterar Tema</a>
            </div>

            <div class="nav-pc">
                <a href="/session_gamer/" id="config"><i class="fas fa-book"></i> Área Estudos</a>
                <a href="/config/" id="config"><i class="fas fa-database"></i> Dados Perfil</a>	
                <a href="/password_change/" id="config"><i class="fas fa-key"></i> Alterar Senha</a>
                <a href="/email_change/" id="config"><i class="fas fa-envelope"></i> Alterar E-mail
                </a>
                <a href="/alterar_tema/" id="config"><i class="fas fa-paint-brush"></i> Alterar Tema</a>
            </div>

    	</div><!-- fim painel-2 -->

    	<div class="painel-1" id="cascata-mobile">

            {% if messages %}
                <div class="alertError">
                    <i class="fas fa-exclamation-circle"></i>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            
            <form method="post">
            
                {% csrf_token %}
                <div>{{ form.new_email }}</div>
                <div>{{ form.confirm_password }}</div>
                <input type="Submit" name="Update Email" value="Alterar E-mail">
                
            </form>
    	</div><!-- fim painel-1 -->

        <div class="div-topo">
            <a href="#topo" id="icon-topo" ><i class="fas fa-chevron-up"></i></a>
        </div>
    	
	</div><!-- fim container -->
	

{% endblock %}
