
{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

    <style>

        .alertError {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            margin: 0 auto;
            width: 100%;
            text-align: left;
            background-color: #fc5246;  
        }

        .alertError i{
            font-size: 15px;
            padding: 15px;
            padding-right: 5px;
        }

        .alertAuth {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            margin: 0 auto;
            width: 100%;
            text-align: left;
            background-color: #d2ffdd; 
        }

        .alertAuth i{
            font-size: 15px;
            padding: 15px;
            padding-right: 5px;
        }


    </style>

    {% if form.errors %}
        <div class="alertError">
            <i class="fas fa-exclamation-circle"></i>
            Usuário não existe/inativo ou senha incorreta.
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alertAuth">
                <i class="fas fa-exclamation-circle"></i>
                <p>Sua conta não tem acesso a esta página. Para prosseguir,
                    por favor faça login com uma conta que tenha acesso.
                </p>
            </div>
        {% else %}
            <div class="alertAuth">
                <i class="fas fa-exclamation-circle"></i>
                Por favor, faça o login para acessar a página.
            </div>
        {% endif %}
    {% endif %}

    <div class="container">
       
        <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
                
           
            <div>{{ form.username }}</div>
            <div>{{ form.password }}</div>

            <div>
                <input type="submit" name="acao" value="Entrar">
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            
            <div class="links">
                <i class="fas fa-smile"></i><a href="{% url 'accounts:register' %}">Novo aqui?</a>  <i class="fas fa-lock"></i><a href="/password_reset/">Esqueceu a senha?</a>
            </div>
        </form>
        
    </div>

{% endblock %}