
{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="box-form">
                   
    {% if form.errors %}
        
        <div class="msg_erros">
            Usuário não existe/inativo ou senha incorreta.
        </div>

    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}

            <div class="msg_erros">
                <span>Sua conta não tem acesso a esta página. Para prosseguir,
                    por favor faça login com uma conta que tenha acesso.
                </span>
            </div>
    
        {% endif %}
    {% endif %}

    <form class="px-4 py-3" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}   
   
        <div class="form-group">
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.password }}
        </div>

       <button type="submit" class="btn btn-success">Entrar</button>
       <input type="hidden" name="next" value="{{ next }}" />

       
    </form>

    <div class="social-container">

        <button class="btn btn-danger mb-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i> Logar com o Google</a>
        </button>
        <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook-square"></i> Logar com Facebook
            </a>
        </button>

    </div>
   <a class="link-item" href="{% url 'accounts:register' %}"><i class="fas fa-smile"></i> Novo aqui? Cadastre!</a>
   <a class="link-item" href="/password_reset/"><i class="fas fa-lock"></i> Esqueceu sua senha?</a>
</div>
       

{% endblock %}

