
{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<style>

        .msg_erro_padrao{
            margin-bottom: 10px;
            text-align: center;
            color: rgb(220, 223, 37);
            
        }

        .msg_erros{
            display: inline-block;
            font-size: 12px;
            padding: 0;
            text-align: left;
            
        }

        .msg_erros ul{
            list-style-type: square;
        }

        .link-item{
            padding-top: 30px;
        }

</style>

<div class="box-form">

    {% if form.errors %}
        <div class="msg_erro_padrao">
            Não foi possível realizar o cadastro:
        </div>
        <div class="msg_erros">
            {% if form.username.errors %}
                {{ form.username.errors }}
            {% endif %}
        </div>
        <div class="msg_erros">
            {% if form.email.errors %}     
               {{ form.email.errors }}
            {% endif %}
        </div>
        <div class="msg_erros">
            {% if form.password2.errors %}
                {{ form.password2.errors }}
            {% endif %}
        </div>

    {% endif %}

            <form class="px-4 py-3" action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
                        
                    <div>{{ form.username }}</div>
                    <div>{{ form.first_name }}</div>
                    <div>{{ form.last_name }}</div>
                    <div>{{ form.email }}</div>
                    <div>{{ form.password1 }}</div>
                    <div>{{ form.password2 }}</div>

                    <button type="submit" class="btn btn-success">Cadastrar</button>

                    <a class="link-item" href="/"><i class="fas fa-sign-in-alt"></i> Ir para Login</a>
            </form>
   
</div>

{% endblock %}