{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<style>

    .msg i{
        color: #1dca34;
    }

</style>

<div class="box-form">

    <div class="msg">  
        <i class="far fa-check-circle"></i> 
            <p>Parabéns <b>{{ form.first_name.value }} {{ form.last_name.value }},</b></p>
            <p>Seu cadastro foi finalizado, foi enviado o link de ativação para o <b>e-mail: {{ form.email.value }}.</b></p>
            <p>Após ativar o cadastro utilize seu usuário<b> {{ form.username.value }}</b> para realizar o login.</p>
    </div>
    <a class="link-item" href="/"><i class="fas fa-sign-in-alt"></i> Acessar Login</a>
</div>

{% endblock %}