{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Vídeos{% endblock %}

{% block content %}

    <style>

    .container{
		display: grid;
		grid-template-columns: auto;
	}

    .painel-2{
        text-align: center;
    }

    .painel-2 a{
        font-size: 14px;
        background-color:#a9eeb2;
        display: inline-block;
        text-decoration: none;
        color: #073f2c;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px 5px;
        width: 30%;
        text-align: center;
    }

    .painel-2 a:hover {
        color: #368d42;
        background-color: #eee;
    }

	@media screen and (max-width: 550px) {
		
		.container{
		    margin: 50px 0;
		}

        .painel-2 a{
            width: 100%;
            margin: 5px 0px;
        }
		
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área Vídeos
    </div>

    <div class="container">
	    
    	<div class="painel-2">
            {% for video in videos %}
                <a href="{% url 'videos:details' video.curso_id video.slug %}"> {{ video.title }}</a>
            {% endfor %}
        </div><!-- fim painel-2 -->

    	
		
    </div>

{% endblock %}
