{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Vídeos{% endblock %}

{% block content %}

    <style>

#menu_videos, #menu_videos_assistidos{
        background-color: #ddd;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
    }

    #menu_videos:hover{
        color: #368d42;
        background-color: #eee;
    }

    #menu_videos_assistidos:hover{
        color: rgb(1, 51, 1);
        background-color: #c3ecc9;
    }

    #menu_videos_assistidos{
        background-color:#a9eeb2;
    }

    .pagination {
        margin: 20px;
        display: inline-block;
        font-size: 20px;
        color: #aaa;
    }

    .pagination a{
        display: inline-block;
        border: 0;
        background-color: rgb(248, 248, 248);
    }

    .pagination a:hover{
        background-color: #eee;
    }

    .pagination i{
        padding: 5px;
        font-size: 20px;
    }

    .painel-1{
        text-align: center;
        font-size: 100px;
    }

    #icon_cursos{
        padding: 10px;
        font-size: 20px;
    }

    #title_video_assistido{
        color: #368d42;
        margin: 0 auto;
        padding: 10px;
        font-size: 30px;
    }

    #menu_videos{
        padding: 10px 20px;
        font-size: 16px;
    }

    .fa-hand-peace{
        color: rgb(204, 179, 109);
    }

    #title_curso{
        color: #000;
        border-bottom: 1px solid #aaa;
        padding: 10px;
        padding-bottom: 20px;
    }

	@media screen and (max-width: 1000px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        .painel-1{
            font-size: 50px;
        }
		
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área vídeos
    </div>

    <div class="container">
	    
        {% if cursos %}
            <div class="painel-2">
                
            {% for curso in cursos %}
            <p id="title_curso">Curso: {{ curso.title }}</p>
                {% for item in videos %}
                    {% if forloop.counter <= 4 %}
                        {% if item.title in videos_assistidos or item.title == video.title %}
                            <a id="menu_videos_assistidos" href="{% url 'videos:details' curso.id item.slug %}"><i id="icon_video" class="far fa-play-circle"></i> {{ item.title }} <i class="fas fa-check-double"></i></a>
                        {% else %}
                            <a id="menu_videos" href="{% url 'videos:details' curso.id item.slug %}"><i id="icon_video" class="far fa-play-circle"></i> {{ item.title }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="pagination">
			        {% if videos.has_previous %}
		                <a href="?page={{ videos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
		            {% endif %}
		            
		            {% if videos.paginator.num_pages %}
			            <span style="font-size: 20px;">
			                {{ videos.number }} - {{ videos.paginator.num_pages }}
			            </span>
		            {% endif %}
		        
		            {% if videos.has_next %}
		                <a href="?page={{ videos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
		            {% endif %}
	        	</div>
            {% endfor %}
                
            </div><!-- fim painel-2 -->

            <div class="painel-1" >
                
                <i class="fas fa-hand-peace"></i>
                <h5>Parabéns! Você finalizou o vídeo:</h5>
                <p id="title_video_assistido">{{ video.title }}</p>
                <p>Estamos orgulhosos do seu desempenho, continue assim.</p>

            </div><!-- fim painel-1 -->
        {% else %}

            <style>

                .container{
                    grid-template-columns: 100%;
                }

            </style>

            <div class="painel-1" >
                    
                <i class="fas fa-hand-peace"></i>
                <h5>Parabéns! Você finalizou o vídeo:</h5>
                <p id="title_video_assistido">{{ video.title }}</p>
                <p>Estamos orgulhosos do seu desempenho, continue assim.</p>

            </div><!-- fim painel-1 -->

        {% endif %}
		
    </div>

{% endblock %}
