{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Vídeos{% endblock %}

{% block content %}

    <style>
    
    .alert {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        background-color: #d2ffdd; 
    }

    .alert i{
        font-size: 15px;
        padding: 0px;
        padding-right: 5px;
        color: #0e30a1;
    }

    .painel-2 a{
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
    }

    .painel-2 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    .painel-1{
        text-align: center;
        font-size: 100px;
    }

    #icon_cursos{
        padding: 10px;
        font-size: 20px;
    }

    #title_video_assistido{
        color: #368d42;
        margin: 0 auto;
        padding: 10px;
        font-size: 30px;
    }

    #menu_videos{
        padding: 10px 20px;
        font-size: 16px;
    }

    .fa-hand-peace{
        color: rgb(204, 179, 109);
    }

    #title_curso{
        color: #000;
        border-bottom: 1px solid #aaa;
        padding: 10px;
        padding-bottom: 20px;
    }

	@media screen and (max-width: 1000px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        .painel-1{
            font-size: 50px;
        }
		
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área vídeos
    </div>

    <div class="container">
	    
    	<div class="painel-2">
            
        {% for curso in cursos %}
           <p id="title_curso">Curso: {{ curso.title }}</p>
            {% for video in videos %}
                <a id="menu_videos" href="{% url 'videos:details' curso.id video.slug %}"><i id="icon_video" class="far fa-play-circle"></i> {{ video.title }}</a>
            {% endfor %}
        {% endfor %}
	          
        </div><!-- fim painel-2 -->

    	<div class="painel-1" >
          	 
            <i class="fas fa-hand-peace"></i>
            <h5>Parabéns! Você finalizou o vídeo:</h5>
            <p id="title_video_assistido">{{ video.title }}</p>
            <p>Estamos orgulhosos do seu desempenho, continue assim.</p>

    	</div><!-- fim painel-1 -->
		
    </div>

{% endblock %}
