{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal DJANGO - Portal com conteúdo do Framework Django-Python" />
    <title>O Portal Django</title>
    <link rel="icon" type="image/jpg" href="{% static 'images/icondj.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/auth2.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<style>

    .logotipo{
        font-size: 35px;
        font-weight: bold;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .logotipo img{
        margin: 15px 0;
        border: 5px solid #fff;
        background: #092d1f;
        border-radius: 7px;
        vertical-align: middle;
    }

</style>

<body>

    <div class="header">
        <div class="logotipo">
            <p>O Portal <img src="{% static 'images/logo-django.png' %}" />ango</p>
        </div>
    </div>

    {% block content %}{% endblock %} 

</body>

</html>