{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal DJANGO - Portal com conteúdo do Framework Django-Python" />
    <title>O Portal Django</title>
    <link rel="icon" type="image/jpg" href="{% static 'images/logo-django.png' %}" />
    <link rel="stylesheet" href="{% static 'css/auth2.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>

    <div class="header">
            <p><img src="{% static 'images/logo-django.png' %}" /> Portal django</p>
    </div>

    {% block content %}{% endblock %} 

</body>

</html>
