{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}

    <style>

    .container{
		display: grid;
		grid-template-columns: 100%;
	}

    .painel-1{
		text-align: center;;
    }

	@media screen and (max-width: 550px) {

        .alert{
			font-size: 12px;
		}
	}

    </style>

    <div class="alert">
        <i class="fas fa-exclamation-triangle"></i>
		Página não encontrada!
    </div>

    <div class="container">
	    
    	<div class="painel-1">
			<h1>
                <i class="fas fa-exclamation-triangle"></i></br>
                Caro Usuário, 
            </h1>
            
            <p>O endereço abaixo não existe em O Portal Django:</p>
            <h1>{{ request.build_absolute_uri }}</h1>
    	</div><!-- fim painel-1 -->
		
    </div>

{% endblock %}
