{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}


<style>

    .alert a{
    	border: 1px solid #0e30a1;
    	text-decoration: none;
    	padding: 5px;
    	margin: 10px;
    	color: #0e30a1;
    }

    .alert a:hover{
    	color: #000;
    	background: #eee;
    }

	.container{
		grid-template-columns: auto;
	}

    h1 > i{
        font-size: 100px;
        padding-bottom: 30px;
        color: #aaa;
    }


	@media screen and (max-width: 550px) {

		.alert{
			font-size: 12px;
		}

	}

</style>

	<div class="alert">
		<i class="fas fa-exclamation-triangle"></i>
		Página não encontrada!
	</div>

    <div class="container">
	    
		<div class="painel-1">
            <h1>
                <i class="fas fa-exclamation-triangle"></i></br>
                Caro Usuário, 
            </h1>
            
            <p>O endereço abaixo não existe em O Portal Django:</p>
            <h1>{{ request.build_absolute_uri }}</h1>
        </div>
    	
	</div><!-- fim container -->
	

{% endblock %}
