{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}

    <style>

    .container{
		display: grid;
		grid-template-columns: 100%;
	}

    .painel-1{
        padding-right: 35px;
    }

	@media screen and (max-width: 550px) {

        .alert{
			font-size: 12px;
		}
	}

    </style>

    <div class="alert">
        <i class="fas fa-exclamation-triangle"></i>
		Página não encontrada!
    </div>

    <div class="container">
	    
    	<div class="painel-1">
			<p>{{ request.build_absolute_uri }}</p>
    	</div><!-- fim painel-1 -->
		
    </div>

{% endblock %}
