{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}


<style>

    .alert a{
    	border: 1px solid #0e30a1;
    	text-decoration: none;
    	padding: 5px;
    	margin: 10px;
    	color: #0e30a1;
    }

	.container{
		grid-template-columns: 50% 50%;
	}

    .container-2{
        display: grid;
        grid-template-columns: 100%;
        margin: 50px 50px;
	}

    #triangulo{
        font-size: 100px;
        color: #bbb;
        margin: 0 auto;
    }

    #msg_busca{
        color: #bbb;
        margin: 0 auto;
        padding-top: 20px;
    }

    .container a{
        text-decoration: none;
        text-align: center;
        margin: 10px;
        color: #073f2c;
        padding: 20px;
    }

    #itens{
        display: grid;
        grid-template-columns: 10% 90%;
        background-color:#cde0f8;
        margin: 10px;
        border-top-style: dotted;
        border-right-style: solid;
        border-bottom-style: dotted;
        border-left-style: solid;
    }

    #tipo{
        padding: 13px;
        text-align: center;
        writing-mode: vertical-rl;
        background: #aaa;
        border-right-style: dotted;
    }

    #icon_cursos{
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 50px;
        display: block;
        text-align: center;
    }

    #check_video_assistido{
        color: #228B22;
        font-size: 50px;
    }

    #progresso{
        font-size: 18px;
        color: #228B22;
    }

    @media screen and (max-width: 992px) {

        .alert{
			font-size: 12px;
		}

        .container{
		    grid-template-columns: 100%;
	    }

        #tipo{
            padding: 6px;
        }

    }

</style>

    {% if videos or cursos %}
        <div class="alert">
            <i class="fas fa-search"></i>Resultado(s) da busca por <b>{{ busca }}</b>
        </div>
        {% if videos %}
            
            <div class="container">
                
                {% for video in videos %}
                    <div id="itens">
                        <div id="tipo">
                            <i class="fas fa-video"></i>
                            <b>VIDEO</b>
                        </div>
                        <a href="{{ video.slug }}">
                            <p><b>Vídeo:</b> {{ video.title }}</p>
                            <p><b>Curso:</b> {{ video.curso }}</p>
                            <p><b>Duração:</b> {{ video.segundos|minutos }}:{{ video.segundos|segundos }}</p>
                            {% for curso in cursos %}
                                {% if video.curso.id == curso.id %}
                                    <i id="icon_cursos" class="{{ curso.description }}"></i>
                                {% endif %}
                            {% endfor %}
                            {% for video_assistido in videos_assistidos %}
                                {% if video.title == video_assistido.title %}
                                    Já assistido <i id="check_video_assistido" class="fas fa-check-double"></i>
                                {% endif %}
                            {% endfor %}
                        </a>
                    </div> 
                {% endfor %}

            </div><!-- fim container -->

        {% endif %}
      
        {% if cursos %}

            <div class="container">
                
                {% for curso in cursos %}
                    <div id="itens">
                        <div id="tipo">
                            <i class="fas fa-folder-open"></i>
                            <b>CURSO</b>
                        </div>
                        <a href="{% url 'cursos:video_por_cursos' curso.id %}">
                            <p><b>Curso:</b> {{ curso.title }}</p>
                            <p><b>Criado em:</b> {{ curso.created_at }}</p>
                            <i id="icon_cursos" class="{{ curso.description }}"></i></br>

                            {% for item in lista_progresso_curso %}                         
                                {% if curso.id == item.curso %}
                                    {% if item.progresso == 0 %}
                                        <p id="progresso">
                                            <b>Curso não iniciado</b>
                                        </p>
                                    {% elif item.progresso == 100 %}
                                        <p id="progresso">
                                            <b>Progresso: {{ item.progresso }}% <i id="check_video_assistido" class="fas fa-check-double"></i></b>
                                        </p>
                                    {% else %}
                                        <p id="progresso">
                                            <b>Progresso: {{ item.progresso }}%</b>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
 
                        </a>
                    </div> 
                {% endfor %}

            </div><!-- fim container -->

        {% endif %}

    {% else %}
        <div class="alert">
            <i class="fas fa-search"></i>Resultado(s) da busca por {{ busca }}
        </div>
        <div class="container-2">
            <i id="triangulo" class="fas fa-exclamation-triangle"></i>
            <div id="msg_busca">Ops! Nenhum dado encontrado para a busca por {{ busca }}</div>
        </div><!-- fim container -->
    {% endif %}

{% endblock %}
