{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}

<style>

	.alert{
		display: grid;
		grid-template-columns: 80% 20%;
	}

    .alert a{
    	border: 1px solid #0e30a1;
		border-radius: 10px;
    	text-decoration: none;
    	padding: 7px;
    	margin: 10px;
    	color: #0e30a1;
    }

    .alert a:hover{
    	background: #eee;
    }

	.painel-2 i{
		font-size: 100px;
		display: block;
		margin-top: 15px;
	}

	.painel-2 img{
		background-color: rgb(248, 248, 248);
		border: 0;
		width: 50%;
	}

	.painel-2 #css3{
		color:rgb(71, 166, 221);
	}

	.painel-2 #html5{
		color:rgb(219, 94, 36);
	}

	.painel-2 #js{
		color:rgb(245, 233, 65);
	}

	#icon_cursos{
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 50px;
        display: block;
        text-align: center;
    }

	.painel-1{
        padding-right: 25px;
    }

    .painel-1 a{
        font-size: 10px;
        background-color:#cde0f8;
        display: inline-block;
        text-decoration: none;
        color: #073f2c;
        border: 1px solid #aaa;
        padding: 20px;
        margin: 10px 10px;
        width: 30%;
        text-align: center;
		border-radius: 10px;
    }

    .painel-1 a:hover {
        color: #368d42;
        background-color: #eee;
    }

	#status_cursos{
		text-align: center;
		border: 1px solid rgb(6, 53, 37);
		border-left: 15px solid rgb(6, 53, 37);
		background: rgb(203, 236, 217);
		color: rgb(6, 53, 37);
		margin: 20px 0px;
		padding: 5px;
		font-size: 17px;
		font-style: italic;
	}
	
	.painel-1 #msg{
		text-align: center;
	}

	#boas-vindas{
		font-size: 18px;
		text-align: justify;
	}

	#smile{
		color:rgb(219, 94, 36);
		font-size: 25px;
	}

	#ranking{
		text-align: right;
	}

	@media screen and (max-width: 992px) {

		.container{
		    grid-template-columns: auto;
		    margin: 50px 0;
		}
		
		.painel-2 img{
			width: 40%;
		}

		.painel-2 i{
			display: none;
		}

		.painel-1 a{
			width: 100%;
			margin: 10px 0px;
		}

		.alert{
			font-size: 12px;
			grid-template-columns: auto;
		}

		#link_sg{
			display: block;
			margin-top: 10px;
			width: 50%;
			text-align: center;
		}

		#ranking{
			padding: 12px 0px;
			text-align: center;
		}
		
	}

</style>

	<div class="alert">
		<div>
			<i class="fas fa-gamepad"></i>
			Você concluiu <b><span style="color: rgb(22, 22, 190)">{{ progresso }}%</span></b> das suas atividades.
		</div>
		<div id="ranking">
			<a href="{% url 'website:ranking' %}"><i class="fas fa-medal"></i> Ranking</a>
		</div>
	</div>

    <div class="container">
	    
		<div class="painel-2">
			<img src="{% static 'images/python.png' %}" />
			<i class="fab fa-css3-alt" id="css3"></i>
			<i class="fab fa-html5" id="html5"></i>
			<i class="fab fa-js" id="js"></i>
    	</div><!-- fim painel-2 -->

    	<div class="painel-1">

			<h3>Olá {{ user.get_full_name }},</h3>

			<p id="boas-vindas">Seja Bem-vindo ao <b>O Portal Django</b> plataforma dedicada à didática para desenvolvimento WEB.
			Ofertamos cursos de FrontEnd (HTML, CSS e JavaScript) e BackEnd utilizando o famoso Framework
		    Django da linguagem Python.</p>
		  
			<p id="status_cursos">Cursos Não Iniciados</p>
			{% if cursos_nao_iniciados %}
				{% for curso in cursos %}
					{% for item in cursos_nao_iniciados %}
						{% if curso.id == item.curso %}
							<a href="{% url 'cursos:video_por_cursos' curso.id %}">
								<i id="icon_cursos" class="{{ curso.description }}"></i>
								{{ curso.title }}
							</a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% else %}
				<p id="msg">
					<i id="smile" class="far fa-grin-hearts"></i>
					Parabéns! Você já iniciou todos os cursos
				</p>
			{% endif %}

			<p id="status_cursos">Cursos em Andamento</p>
			{% if cursos_andamento %}
				{% for curso in cursos %}
					{% for item in cursos_andamento %}
						{% if curso.id == item.curso %}
							<a href="{% url 'cursos:video_por_cursos' curso.id %}">
								<i id="icon_cursos" class="{{ curso.description }}"></i>
								{{ curso.title }}</br></br>
								{{ item.progresso|duas_casas_decimais }}%</br>
								<progress id="file" value="{% widthratio item.progresso 1 1 %}" max="100"></progress>
							</a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% else %}
				<p id="msg">
					<i id="smile" class="far fa-meh"></i>
					Nenhum curso em andamento
				</p>
			{% endif %}


			<p id="status_cursos">Cursos Concluídos</p>
			{% if cursos_concluidos %}
				{% for curso in cursos %}
					{% for item in cursos_concluidos %}
						{% if curso.id == item.curso %}
							<a href="{% url 'cursos:video_por_cursos' curso.id %}">
								<i id="icon_cursos" class="{{ curso.description }}"></i>
								{{ curso.title }}
							</a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% else %}
				<p id="msg">
					<i id="smile" class="far fa-meh"></i>
					Nenhum curso concluído
				</p>
			{% endif %}
         
    	</div><!-- fim painel-1 -->

    	
	</div><!-- fim container -->
	

{% endblock %}
