{% load static %}

<div class="nav-mobile" id="topo">
    <a href="/session_gamer/#cascata-mobile" id="config"><i class="fas fa-book"></i> Área Estudos</a>
    <a href="/config/#cascata-mobile" id="config"><i class="fas fa-database"></i> Dados Perfil</a>	
    <a href="/password_change/#cascata-mobile" id="config"><i class="fas fa-key"></i> Alterar Senha</a>
    <a href="/email_change/#cascata-mobile" id="config"><i class="fas fa-envelope"></i> Alterar E-mail
    </a>
    <a href="/alterar_tema/#cascata-mobile" id="config"><i class="fas fa-paint-brush"></i> Alterar Tema</a>
</div>

<div class="nav-pc">
    <a href="/session_gamer/" id="config"><i class="fas fa-book"></i> Área Estudos</a>
    <a href="/config/" id="config"><i class="fas fa-database"></i> Dados Perfil</a>	
    <a href="/password_change/" id="config"><i class="fas fa-key"></i> Alterar Senha</a>
    <a href="/email_change/" id="config"><i class="fas fa-envelope"></i> Alterar E-mail
    </a>
    <a href="/alterar_tema/" id="config"><i class="fas fa-paint-brush"></i> Alterar Tema</a>
</div>
