{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}


<style>

    .painel-1 img{
        width: 80px;
        margin: 10px;
        margin-left: 38px;
        border: 1px solid #bbb;
    }

    .painel-1{
        grid-template-columns: 40% auto;
    }

    .painel-1 p{
        font-size: 15px;
        padding: 0;
    }

    .painel-1 ul{
        list-style-type: none;
    }

    .painel-2 i{
        font-size: 15px;
        padding: 10px;    
    }

    .box-1, .box-2{
        padding: 10px;
        margin: 0;
        width: 100%;
    }

    #config {
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
    }

    #config:hover {
        color: #368d42;
        background-color: #eee;
    }

    #perfil {
        font-size: 15px;
        padding: 0;
        margin: 10px;
        margin-left: 38px;
        color: #073f2c;

    }

    .barra{
        width: 100%;
        border: 1px solid #aaa;
        border-radius: 5px;
        display: inline-block;
        padding: 1px;
    }

    .perc-barra{
        font-size: 15px;
        padding: 15px;
        color: #fff;
        text-align: center;
        background-color: #368d42;
        border-radius: 5px;
    }

    .container i{
        font-size: 20px;
    }

    #icon-topo{
        text-align: center;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        border: 2px solid #ddd;
        width: 20%;
        padding: 15px;
    }

    #icon-topo:hover{
        background: #eee;
    }

    .div-topo{
        display: none;
        margin: 30px auto;
        padding: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .nav-mobile {
        width: 100%;
        display: none;
    }

    .nav-pc {
        width: 100%;
        display: inline-block;
    }

    @media screen and (max-width: 1024px) {

        .container{
            grid-template-columns: 30% auto;
            margin: 50px 0;
        }
        
    }

	@media screen and (max-width: 800px) {

		.container{
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        .div-topo{
            display: inline-block;
        }

        .nav-mobile {
            display: inline-block;
        }

        .nav-pc {
            display: none;
        }
		
	}

	

</style>

    <div class="alert">
        <i class="fas fa-book-reader"></i>
        Área de Estudos
    </div>

    <div class="container">
	    
		<div class="painel-2">

            {% include 'menu_session_gamer.html' %}

    	</div><!-- fim painel-2 -->

    	<div class="painel-1" id="cascata-mobile">
            <div class="box-1">
                <p><b>Olá {{ user.get_full_name }},</b></p>
                
                {% if videos %}
                    <p>Você já assistiu os seguintes vídeos:</p>
                    {% for video in videos %}
                        - {{ video }}<br>
                    {% endfor %}
                {% else %}
                    Você ainda não assistiu nenhum vídeo
                {% endif %}

		    </div><!-- fim box-1 -->
            <div class="box-2">
                {% if progresso != '100' %}
                    <p>Seu Progresso Total é de <b>{{ progresso }}%</b>, continue avançando!</p>
                {% else %}
                    <p>Parabéns você assistiu todos os vídeos, esperamos que tenham avançado no conhecimento.</b></p>
                {% endif %}
                <div class="barra">
                   
                    <div class="perc-barra">

                        {% if progresso == '0' %}
                            
                            <script>

                                perc_barra = document.querySelector(".perc-barra");
                                perc_barra.style.color = "#000";
                        
                            </script>
                        {% endif %}
                    
                        <b>{{ progresso }}%</b>
                    </div>
                   
                </div>
            </div><!-- fim box-1 -->
    	</div><!-- fim painel-1 -->

        <div class="div-topo">
            <a href="#topo" id="icon-topo" ><i class="fas fa-chevron-up"></i></a>
        </div>
        
	</div><!-- fim container -->

    <script>

        perc_barra = document.querySelector(".perc-barra");
        perc_barra.style.width = "{{ progresso }}%";

    </script>
	

{% endblock %}
