{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}

    <style>

    .painel-1 p{
        padding-bottom: 10px;
    }

    .painel-1 p a{
        background-color: #fff;
        color: blue;
        margin: 0px;
        padding: 0px;
    }

    .painel-1 p a:hover{
        background-color: #fff;
        color: rgb(128, 128, 223);
    }

    .painel-2 a{
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 12px;
        margin: 5px;
    }

    .painel-2 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    #description{
        text-align: justify;
    }

	@media screen and (max-width: 1000px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		}
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área Tópicos > {{ topico.name }}
    </div>

    <div class="container">
    	    
        <div class="painel-2">
            {% for topico in topicos %}
                <a href="{{ topico.slug }}"> {{ topico.name }}</a>
            {% endfor %}
        </div><!-- fim painel-2 -->

    	<div class="painel-1">
            
            <p id="description">{{ topico.description }}</p>
            
            {{ topico.about|safe }}
            
    	</div><!-- fim painel-1 -->		
        
    </div><!-- fim container -->

{% endblock %}
