{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}

    <style>

    .alert {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        background-color: #d2ffdd; 
    }

    .alert i{
        font-size: 15px;
        padding: 0px;
        padding-right: 5px;
        color: #0e30a1;
    }

    .painel-1 p{
        padding-bottom: 10px;
    }

    .painel-2 a {
        font-size: 14px;
        background-color:#a9eeb2;
        display: block;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 5px;
    }

    .painel-2 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    #description{
        text-align: justify;
    }

	@media screen and (max-width: 1000px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área Tópicos
    </div>

    <div class="container">
    	    
        <div class="painel-2">
            {% for topico in topicos %}
                <a href="{{ topico.slug }}"> {{ topico.name }}</a>
            {% endfor %}
        </div><!-- fim painel-2 -->

    	<div class="painel-1">
            
            <p style="color: green"; id="description">{{ topico.description }}</p>
            {{ topico.about|linebreaks }}
    	</div><!-- fim painel-1 -->		
        
    </div><!-- fim container -->

{% endblock %}
