{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}

    <style>

    .container{
		display: grid;
		grid-template-columns: auto;
	}

    .painel-2 a{
        font-size: 20px;
        background-color:#a9eeb2;
        text-decoration: none;
        color: #073f2c;
        text-align: left;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 20px;
        margin: 5px;
        width: 100%;
    }

    .painel-2 a:hover {
        color: #368d42;
        background-color: #eee;
    }

    .painel-2{
        width: 50%;
        margin: 0 auto;
    }

    #i_topico{
        font-size: 30px;
        margin: 10px;
        padding-bottom: 15px;
        color: #073f2c;
    }

    #icon-button{
        font-size: 25px;
        color: #073f2c;
        padding-right: 5px;
    }

	@media screen and (max-width: 550px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}

        .painel-2{
            width: 100%;
        }
		
	}

    </style>

    <div class="alert">
        <i class="fas fa-folder-open"></i>
        Área Tópicos
    </div>

    <div class="container">

    	<div class="painel-2" id="title">
            <i id="i_topico" class="fas fa-paperclip"></i>
            <i id="i_topico" class="fas fa-marker"></i>
            <i id="i_topico" class="far fa-clipboard"></i>
            {% for topico in topicos %}
                <a href="{{ topico.slug }}"><i id="icon-button" class="{{ topico.description }}"></i> {{ topico.name }}</a>
            {% endfor %}
    	</div><!-- fim painel-1 -->
        
    </div>

{% endblock %}
