{% load static %}
<div class="header">

    <div class="logotipo">
        <a href="{% url 'website:index' %}"><img style="border-radius: 7px;" src="{% static 'images/logo-django.png' %}" /></a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-trigger="#main_nav">
           <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" id="main_nav">
    
            <div class="offcanvas-header mt-3">  
                <button class="btn btn-outline-danger btn-close float-right"> &times Fechar </button>
                <h5 class="py-2 text-white">Menu</h5>
            </div>
        
            <ul class="navbar-nav menu">
                <li class="nav-item active"> <a class="nav-link" href="{% url 'website:index' %}">Home </a> </li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'topicos:index' %}"> Tópicos </a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'cursos:index' %}"> Cursos </a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'website:session_gamer' %}"> Área Estudos </a>
                <li class="nav-item active"><a class="nav-link" href="{% url 'website:contato' %}"> Contato </a></li>
            </ul>
        
        </div> <!-- navbar-collapse.// -->

    </nav>
    
    <div class="redes-sociais">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

</div><!-- fim header -->